.headerItemsContainer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 760px) {
    display: block;
    margin-bottom: 25px;
  }
}

.formItemsContainer{
  display: flex;
  justify-content: space-between;

  @media (max-width: 760px) {
    display: block;
  }
}